body {
    padding: 0px;
    margin: 0px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inicio {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(53, 59, 112, 0.466);
    height: 250px;
    width: 350px;
    border: 1px solid #000000;
    border-radius: 20px;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.divMoeda1 , .divMoeda2  {
    display: grid;
}

.moedaConversao , .moedaConvertida{
    border-radius:  0px;
    margin: 0px;
    background-color: #3f3f3f;
    color: #fff;
    border: 1px solid #000000;
}

.moeda1 , .moeda2{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.507);
    color: #000000;
    border: 1px solid #000000;   
}