body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inicio {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(122, 139, 153, 0.5);
    height: 250px;
    width: 350px;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #303030;
    
}

.divMoeda1 , .divMoeda2  {
    display: grid;
}

.moedaConversao , .moedaConvertida{
    border-radius: 5px;
    margin: 0px;
    background-color: #3f3f3f;
    color: #fff;
    border: 1px solid #757575;
    text-align: center;
    width: 200px;
}

.limparMoedas , .trocarMoedas {
    background-color: #3f3f3f;
    color: rgb(216, 216, 216);
}

.moeda1 , .moeda2{
    font-family: 'Oswald', sans-serif;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.507);
    color: #000000;
    border: 1px solid #616161;
    text-align: center;
}

.botao-efetuar {
    font-family: 'Oswald', sans-serif;
    background-color: #3f3f3f;
    color: aliceblue;
    border-radius: 9px;
    font-size: 15px;
}